* {
    margin: 0;
    padding: 0;

}
.easy {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('img/bg.jpg') no-repeat center;
    background-size: cover;
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}
.but {
    width: 100px;
    height: 30px;
    margin: 40px;
    border-radius: 25px;
    border-color: #d3cdcd;
    background-color: transparent;
    font-size: 15px;
}
.number {
    font-size: 150px;
    color: #fff;
}

#plus {
    color: #fff;
    font-weight: 700;
}
#minus {
    color: #fff;
    font-weight: 700;
}
#clear {
    color: #fff;
    font-weight: 700;
}